@model IEnumerable<CourseListingServiceModel>

@{
    ViewData["Title"] = "Active Courses";
}

<div class="jumbotron home-jumbotron">
    <h1 class="text-center">Welcome to our learning system!</h1>
</div>

<div class="row home-page">
    @foreach(var course in Model)
    {
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <a asp-controller="Courses" asp-action="Details" asp-route-id="@course.Id">@course.Name</a>
                </div>
                <div class="panel-body">
                    <img class="img-responsive" src="http://thecatapi.com/api/images/get?format=src&type=gif&guid=@(Guid.NewGuid())">
                    <br />
                    <p class="text-center">@course.StartDate.ToShortDateString() - @course.EndDate.ToShortDateString()</p>
                </div>
            </div> 
        </div>
    }
</div>